h1 {
    font-family: sans-serif;
    border-bottom: 2px solid;
}

h2 {
    font-family: sans-serif;
}


#currentQuery {
    border: 1px solid;
    margin: 0.5ex;
    padding: 0.5ex;
    min-height: 2ex;
}

#queryButtons {
    margin: 0.5ex;
    margin-left: 0;
    padding: 0.5ex;
}


#topMain {
  background-color: #666;
  max-width: 100%;
  height: 300px;
  width: 100%;
}

#bodyMain {
  background-color: #ddd;
  height: 410px;
  width: 100%;
  float: center;
  margin: 0 auto;
}

#features {
  background-color: #ccc;
  height: 390px;
  width: 50%;
  float: left;
}

#extension {
  background-color: #bbb;
  height: 390px;
  width: 50%;
  float: right;
}

/* List of features */
#features li {
    list-style-type: none;
    list-style-position: inside;
}

#features > ul {
    padding: 0;
    margin: 0;
}

.expandButton {
    background: url(images/open.png) no-repeat left bottom;
    display: inline-block;
    width: 1em;
    height: 1.2ex;
}

.retractButton {
    background: url(images/close.png) no-repeat left bottom;
    display: inline-block;
    width: 1em;
    height: 1.2ex;
}
